name: Build and Deploy to Docker Hub

on:
  push:
    branches:
      - main  # Trigger deployment on push to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKER_USER }}/streamlit-portfolio:v1 . 

    - name: Push Docker image
      run: docker push ${{ secrets.DOCKER_USER }}/streamlit-portfolio:v1

  deploy: 
     runs-on: ubuntu-latest
     needs: build

     steps:
     - name : Deploy to Render
       uses: johnbeynon/render-deploy-action@v0.0.8
       with:
          service-id: ${{ secrets.SERVICE_ID }} # Can be found as part of the Deploy Hook
          api-key: ${{ secrets.RENDER_API_KEY }} # Create your API key in Render Dashboard > Account Settings
